/* Global styles */
body {
  font-family: Arial, sans-serif;
  background-color: #121212; 
  color: #ffffff; 
  margin: 0;
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
}

.container {
  flex-grow: 1; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
}

.row {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

/* Card styles */
.card {
  display: flex;
  flex-direction: column; 
  align-items: center;
  max-width: 300px;
  max-height: 150px;
  border-radius: 12px;
  overflow: hidden;
  margin: 10px -5px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-content {
  width: 100%; 
  height: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.card:hover {
  box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
  transform: translateY(5px);
}

/* Styles for Card 1 */
.card1 {
  background-color: #333;
}

/* Styles for Card 2 */
.card2 {
  background-color: #333;
}

/* Styles for Card 3 */
.card3 {
  background-color: #333;
}

/* Styles for Card 4 */
.card4 {
  background-color: #333;
}

/* Styles for Card 5 */
.card5 {
  background-color: #333;
}

/* Styles for Card 6 */
.card6 {
  background-color: #333;
}

/* Header styles */
.header-title {
  text-align: center;
  font-size: 36px;
  margin-top: 20px;
  font-family: 'Sriracha', cursive; /* Set header font to Sriracha */
}

header {
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  margin-left: 10%;
}

/* Footer styles */
footer {
  font-size: small;
  text-align: center;
  color: #cccccc;
  margin-top: auto; 
}
